<div class="container">
  <h5>Search Bottles:</h5>
  <div class="row">
    <form class="col s12" ng-submit="wine.addBottle(bottle)">
      <div class="row">
        <div class="input-field col s12 m6">
          <input type="text" class="validate black-text" ng-model="bottle.search">
          <label for="bottle">Ex. Aubert Chardonnay 2010</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Add Bottle</button>
      <!-- <button class="btn waves-effect waves-light grey" ui-sref="list" ng-click="main.back()">Back</button> -->
    </form>
  </div>
</div>
