<div class="container" id="bottle-container">
  <h3>{{wine.bottle.category}}</h3>
    <div id='bottle-image' class="row center" ng-if="wine.image !== '/images/medium/missing.png'">
      <div class="col s12 m6 center">
        <img id="bottle" src="{{wine.image}}" alt="" class="responsive-img z-depth-2"/>
      </div>
      <div id='bottle-info' class="col s12 m6 white-text center z-depth-2">
        <p class="col s12 m6">Vineyard: {{wine.bottle.vineyard}}</p>
        <p class="col s12 m6">Vintage: {{wine.bottle.vintage}}</p>
        <p class="col s12 m6">Region: {{wine.bottle.region}}</p>
        <p class="col s12 m6">Appellation: {{wine.bottle.appellation}}</p>
        <p class="col s12 m6">Retail price: {{wine.bottle.retail_price | currency}}</p>
        <p class="col s12 m6">Category: {{wine.bottle.category}}</p>
      </div>
    </div>
    <div class="row center" ng-if="wine.image === '/images/medium/missing.png'">
      <div class="col s12 m2 offset-m2 center">
        <img src="{{wine.bottle.label}}" alt="" class="responsive-img"/>
      </div>
      <div id='bottle-info2' class="col s12 m6 white-text center z-depth-2">
        <p class="col s12 m6">Vineyard: {{wine.bottle.vineyard}}</p>
        <p class="col s12 m6">Vintage: {{wine.bottle.vintage}}</p>
        <p class="col s12 m6">Region: {{wine.bottle.region}}</p>
        <p class="col s12 m6">Appellation: {{wine.bottle.appellation}}</p>
        <p class="col s12 m6">Retail price: {{wine.bottle.retail_price | currency}}</p>
        <p class="col s12 m6">Category: {{wine.bottle.category}}</p>
      </div>
    </div>
    <div class="row center">
      <button class="btn waves-effect waves-light red darken-4 white-text" ng-click="wine.deleteBottle(wine.bottle.id)">Delete</button>
      <button class="btn waves-effect waves-light blue accent-1 white-text" ui-sref="bottle.update">Edit<i class="material-icons right">arrow_downward</i></button>
    </div>
  <div class="col s6">
    <div ui-view class="col s6"></div>
  </div>
</div>

<nav id='custom-footer'>
  <div id='footer-color' class="nav-wrapper">
    <ul id="nav-mobile">
      <li><a ui-sref="account">Manage Cellar Info</a></li>
      <li><a ui-sref="reds">Reds</a></li>
      <li><a ui-sref="whites">Whites</a></li>
    </ul>
  </div>
</nav>
