<div class="container">
  <h3>{{wine.bottle.category}}</h3>
    <div class="row">
      <div class="col s12 m6 center">
        <img ng-hide="wine.image" class="responsive-img" src="{{wine.bottle.label}}"/>
        <img src="{{wine.image}}" alt="" />
      </div>
      <div class="col s12 m6 black-text white center z-depth-2">
        <p class="col s12 m6">Vineyard: {{wine.bottle.vineyard}}</p>
        <p class="col s12 m6">Vintage: {{wine.bottle.vintage}}</p>
        <p class="col s12 m6">Region: {{wine.bottle.region}}</p>
        <p class="col s12 m6">Appellation: {{wine.bottle.appellation}}</p>
        <p class="col s12 m6">Retail price: {{wine.bottle.retail_price | currency}}</p>
      </div>
    </div>
    <div class="row center">
      <button class="btn waves-effect waves-light red darken-4 white-text" ng-click="wine.deleteBottle(wine.bottle.id)">Delete</button>
      <button class="btn waves-effect waves-light blue lighten-2 white-text" ui-sref="bottle.update">Edit</button>
    </div>
  <div class="col s6">
    <div ui-view class="col s6"></div>
  </div>
</div>
