<div class="container">
  <h2>Log in:</h2>
  <h6>Not a user? Sign up <a ui-sref="signup">here</a>.</h6>
  <br>
  <div class="row">
      <form class="col s12" ng-submit="wine.login(user)">
        <div class="row">
          <div class="input-field col s12 m6">
            <input id="input" type="email" class="validate black-text" ng-model="user.email">
            <label id='label2' for="username">Email</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="input1" type="password" class="validate black-text" ng-model="user.password">
            <label id='label3' for="password">Password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Log in</button>
      </form>
    </div>
  </div>
