  <div class="row">
    <form class="col s12 m6 black-text" ng-submit="wine.updateBottle(wine.bottle, wine.bottle.id)">
      <h5 class="red-text text-darken-4">Edit Bottle:</h5>
      <div class="row">
        <div class="input-field col s12 m6">
          <input type="text" class="validate" ng-model="wine.bottle.vineyard">
          <label for="bottle" class="active">Vineyard</label>
        </div>
        <div class="input-field col s12 m6">
          <input type="text" class="validate" ng-model="wine.bottle.vintage">
          <label for="bottle" class="active">Vintage</label>
        </div>
        <div class="input-field col s12 m6">
          <input type="text" class="validate" ng-model="wine.bottle.region">
          <label for="bottle" class="active">Region</label>
        </div>
        <div class="input-field col s12 m6">
          <input type="text" class="validate" ng-model="wine.bottle.appellation">
          <label for="bottle" class="active">Appellation</label>
        </div>
        <div class="input-field col s12 m6">
          <input type="text" class="validate" ng-model="wine.bottle.retail_price">
          <label for="bottle" class="active">Retail Price</label>
        </div>
      </div>
      <div class="row">
        <button id="back-update" class="btn waves-effect waves-light grey" ui-sref="bottle">Back</button>
        <button class="btn waves-effect waves-light red darken-4" type="submit">Submit</button>
      </div>
    </form>
    <form class="col s12 m6" ng-submit="wine.changeLabel(image, wine.bottle.id)">
      <h5>Upload your own label:</h5>
        <input type="file" ngf-select ng-model="image" name="image"
                 accept="'image/*'" ngf-max-size="2MB" required
                 ngf-model-invalid="errorFile"><br><br>
        <button class="btn waves-effect waves-light grey" ng-click="image = null" ng-show="image">Undo</button>
        <button class="btn waves-effect waves-light red darken-4">Submit</button>
    </form>
    <form class="col s12 m6" ng-submit="wine.updateSearch(bottle, wine.bottle.id)">
      <h5>Refine Bottle Search:</h5>
      <h6 class="black-text">*follow example for best results*</h6>
      <div class="row">
        <div class="input-field col s12 m6">
          <input type="text" class="validate black-text" ng-model="bottle.search" required>
          <label for="bottle">Ex. Aubert Chardonnay 2010</label>
        </div>
      </div>
      <button id="back-update" class="btn waves-effect waves-light grey" ui-sref="bottle">Back</button>
      <button class="btn waves-effect waves-light red darken-4" type="submit" name="action">Search</button>
    </form>
  </div>
